<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/avatar.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">150</h3>
                    <h6 class="text-muted m-b-0">Estudiantes mujeres</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/boy.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">163</h3>
                    <h6 class="text-muted m-b-0">Estudiantes hombres</h6>
                </div>
            </div>
        </app-card>
    </div>


    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/team.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">313</h3>
                    <h6 class="text-muted m-b-0">Total estudiantes</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-1 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="40"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$373,282,401</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado en alojamiento</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">

    <div class="col-sm-7">
        <div id='container'>
        </div>
    </div>
    <div class="col-md-10 col-xl-5">
        <app-card cardTitle="Dinero invertido por residencia" cardClass="o-income">

            <div class="  m-b-10   panel-refresh  bordered-css">
                <h6 class="card-title m-b-0 align-self-center">ROCKEFELLER</h6>
                <div class="block m-t-10 m-b-40">
                    <div class="cpu-div-left"> <span class="block  f-20 text-danger">$46,935,900</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20  text-primary">33</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30 m-b-0 align-self-center">CRU</h6>
                <div class="block m-t-10 m-b-40">
                    <div class="cpu-div-left"> <span class="block f-20 text-danger">$245,784,700</span> Dinero invertido</div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20  text-primary">236</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30  m-b-0 align-self-center">SAN RAFAEL</h6>
                <div class="block m-t-10 m-b-30">
                    <div class="cpu-div-left"> <span class="block  f-20  text-danger">$9,828,000</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20 text-primary">4</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30  m-b-0 align-self-center">MARIA INMACULADA</h6>
                <div class="block m-t-10 m-b-30">
                    <div class="cpu-div-left"> <span class="block  f-20  text-danger">$35,957,801</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20  text-primary">20</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30  m-b-0 align-self-center">SOLERIUM</h6>
                <div class="block m-t-10 m-b-30">
                    <div class="cpu-div-left"> <span class="block f-20  text-danger">$34,776,000</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20 text-primary">20</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </app-card>
    </div>
</div>






<br>
<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true" cardClass="o-income">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Estudiantes por residencia</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server" [chartConfig]="this.memoryUseDashServer"></app-apex-chart>
                </div>

            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-md-6">
        <figure class="highcharts-figure">
            <div id="chxa"></div>

        </figure>

    </div>
    <div class="col-md-6 col-xl-5">
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">Estudiantes beneficiarios segun su PBM y sexo</h5>
                <div id="pyramid3"></div>
            </div>

        </div>



    </div>

</div>