#ND {
    color: #008FFB;
}

#ND2 {
    color: #00E396;
}

#ND3 {
    color: #FEB019;
}

#ND4 {
    color: #FF4560;
}

#ND5 {
    color: #775DD0;
}

#ND6 {
    color: #546E7A;
}

#ND7 {
    color: #26a69a;
}

#ND8 {
    color: #ffcc00;
}

#ND9 {
    color: #99ffcc;
}

#ND10 {
    color: #ffcccc;
}

#ND11 {
    color: #666699;
}

#my_dataviz {
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    width: 110%;
    height: 110%;
    text-align: center;
}