<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/lunch.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">8425</h3>
                    <h6 class="text-muted m-b-0">Almuerzos brindados</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/team.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">193</h3>
                    <h6 class="text-muted m-b-0">Total estudiantes</h6>
                </div>
            </div>
        </app-card>
    </div>



    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/money.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$39,350,000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true" cardClass="o-income">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Almuerzos entregados</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server" [chartConfig]="this.memoryUseDashServer"></app-apex-chart>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Estudiantes beneficiados</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server2" [chartConfig]="this.memoryUseDashServer2"></app-apex-chart>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="col-lg-13" id="chart">
    <app-card cardTitle="Almuerzos entregados por facultades" [options]="false">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend" [colors]="chartOptions.colors"></apx-chart>
    </app-card>
</div>

<div class="row">
    <div class="col-lg-7 col-md-6">
        <figure class="highcharts-figure">
            <div id="chx"></div>

        </figure>

    </div>
    <div class="col-md-6 col-xl-5">
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">Estudiantes beneficiarios segun su PBM y sexo</h5>
                <div id="pyramid2"></div>
            </div>

        </div>



    </div>
</div>