<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/team.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">36</h3>
                    <h6 class="text-muted m-b-0">Total estudiantes</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/inventory.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">36</h3>
                    <h6 class="text-muted m-b-0">Total Apoyos</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/transaction.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$150,000</h3>
                    <h6 class="text-muted m-b-0 ">Valor transferencia</h6>
                </div>
            </div>
        </app-card>
    </div>


    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-3 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$60,000,000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">

    <div class="col-sm-8">
        <div id='container'>
        </div>
    </div>
    <div class="col-md-10 col-xl-4">
        <app-card cardTitle="Dinero invertido por residencia" cardClass="o-income">

            <div class="  m-b-10   panel-refresh  bordered-css">
                <h6 class="card-title m-b-0 align-self-center">ROCKEFELLER</h6>
                <div class="block m-t-10 m-b-40">
                    <div class="cpu-div-left"> <span class="block  f-20 text-danger">$31,290,600</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20  text-primary">33</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30 m-b-0 align-self-center">CRU</h6>
                <div class="block m-t-10 m-b-40">
                    <div class="cpu-div-left"> <span class="block f-20 text-danger">$163,973,507</span> Dinero invertido</div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20  text-primary">235</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30  m-b-0 align-self-center">SAN RAFAEL</h6>
                <div class="block m-t-10 m-b-30">
                    <div class="cpu-div-left"> <span class="block  f-20  text-danger">$6,552,000</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20 text-primary">4</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30  m-b-0 align-self-center">MARIA INMACULADA</h6>
                <div class="block m-t-10 m-b-30">
                    <div class="cpu-div-left"> <span class="block  f-20  text-danger">$24,424,000</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20  text-primary">20</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <h6 class="card-title m-t-30  m-b-0 align-self-center">SOLERIUM</h6>
                <div class="block m-t-10 m-b-30">
                    <div class="cpu-div-left"> <span class="block f-20  text-danger">$23,598,000</span> Dinero invertido </div>
                    <div class="cpu-div-right pl-4"> <span class="block  f-20 text-primary">20</span> Estudiantes beneficiados </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </app-card>
    </div>
</div>






<br>


<div class="row">
    <div class="col-lg-8 col-md-6">
        <figure class="highcharts-figure">
            <div id="chxa"></div>

        </figure>

    </div>
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true">
            <div class="d-flex m-b-6 no-block">
                <h5 class="card-title m-b-0 align-self-center">Niveles de PBM</h5>
                <div class="ml-auto text-light-blue">
                </div>
            </div>
            <ul class="list-inline m-b-30 text-uppercase lp-5 font-medium font-12">
                <li><i class="fa fa-square m-r-5 " id="ND"></i> 0-5 </li>
                <li><i class="fa fa-square m-r-5 " id="ND2"></i> 6-10 </li>
                <li><i class="fa fa-square m-r-5 " id="ND3"></i> 11-15</li>
                <li><i class="fa fa-square m-r-5 " id="ND4"></i> 16+</li>
            </ul>
            <app-apex-chart chartID="visitor-gender-dash-analytics" [chartConfig]="this.visitorGenderDashAnalytics"></app-apex-chart>
        </app-card>
    </div>

</div>