<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <app-card [hidHeader]="true" blockClass="p-30">

            <h3 class="text-center">Recarga de tarjetas de Transmilenio a Estudiantes de Internados y Residentes que están en Hospitales de Bogotá</h3>

        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/team.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">66</h3>
                    <h6 class="text-muted m-b-0">Total estudiantes</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/inventory.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">80</h3>
                    <h6 class="text-muted m-b-0">Total Apoyos</h6>
                </div>
            </div>
        </app-card>
    </div>


    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-3 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$12,180,000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">

    <div class="col-sm-12">
        <div id='containerxfd2a'>
        </div>
    </div>

</div>






<br>


<div class="row">
    <div class="col-lg-7 col-md-6">
        <figure class="highcharts-figure">
            <div id="chxadwsx"></div>

        </figure>

    </div>
    <div class="col-md-6 col-xl-5">
        <div class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">Estudiantes beneficiarios segun su PBM y sexo</h5>
                <div id="pyramid4"></div>
            </div>

        </div>



    </div>

</div>