<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/avatar.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">1130</h3>
                    <h6 class="text-muted m-b-0">Estudiantes mujeres</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/boy.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">1415</h3>
                    <h6 class="text-muted m-b-0">Estudiantes hombres</h6>
                </div>
            </div>
        </app-card>
    </div>


    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/search.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">4243</h3>
                    <h6 class="text-muted m-b-0">PACS Entregados</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center  mr-3 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$424,300,000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado en PACS</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">

    <div class="col-sm-8">
        <div id='map'>
        </div>
    </div>


    <div class="col-md-10 col-xl-4">
        <app-card cardTitle="Mensajes de estudiantes" [hidHeader]="true" cardClass="invite-card" blockClass="text-center">
            <!-- Section: Testimonials v.2 -->
            <h4 class="card-title m-b-0 align-self-center">Mensajes de estudiantes</h4>
            <section class="text-center my-5">

                <!-- Section heading -->
                <!--Carousel Wrapper-->
                <mdb-carousel [isControls]="true" [animation]="'slide'" class="testimonial-carousel">

                    <!--First slide-->
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Lo reclamé, todo muy bien, sólo me queda por decirles muchas gracias, no se imaginan cuánto nos ayudan.</p>
                            <h4 class="font-weight-bold">Lennis Mariana</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ciencias</h6>
                        </div>
                    </mdb-slide>
                    <!--/First slide-->
                    <!--Second slide-->
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid" alt="Second sample avatar image">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Quiero agradecer el esfuerzo que han realizado para hacernos llegar este apoyo.En realidad, esto es de gran ayuda. Muchísimas gracias</p>

                            <h4 class="font-weight-bold">Ricardo Eduardo</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ciencias</h6>
                        </div>
                    </mdb-slide>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Ya recogí mi paquete alimentario me fue muy bien, muchas gracias.Es una gran ayuda. Ustedes siempre han sido una gran ayuda desde primer semestre.</p>
                            <h4 class="font-weight-bold">Esteban</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ingeniería</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Hola, espero estén muy bien. Les quiero agradecer por esto,en serio es muy significativo para mí; además de que en esta época sirve y mucho.Gracias por pensar en los estudiantes con este gesto tan bonito</p>
                            <h4 class="font-weight-bold">Laura Sarai</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ciencias Humanas</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Muchas gracias por el mercado, de verdad que con esto ayudan a muchos estudiantes que ahorita nos es un poco difícil conseguir los alimentos, infinitas gracias!</p>
                            <h4 class="font-weight-bold">Ana Maria</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ciencias</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>muy agradecido con ustedes con el mercado. Que bonito es tener esta clase de detalles por parte de la Universidad. Ya lo recogí </p>
                            <h4 class="font-weight-bold">William Camilo</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ciencias Económicas</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Nuevamente mil gracias por todas las gestiones que han hecho para que esto sea posible también gracias por las recomendaciones dadas para el autocuidado.</p>
                            <h4 class="font-weight-bold">Heidi Nataly</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Ciencias Económicas</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Hola, pude reclamar el mercado y en casa estamos felices; es de gran ayuda para mi, pues soy cabeza de hogar y esto es una solución alimentaria perfecta. Gracias por todo </p>
                            <h4 class="font-weight-bold">Adriana Caterin</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Derecho</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>quiero agradecer a la universidad y a ustedes por su gestión frente a esta coyuntura. Me lleve una gran sorpresa por todo lo que se me ofreció, la atención fue ideal y muy rápida. Reitero mi más profundo agradecimiento.</p>
                            <h4 class="font-weight-bold">Dumar Sebastian</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Artes</h6>

                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Efectivamente me dirigí al sitio. Fue exitosa la entrega. Les agradezco mucho que me hayan informado también por teléfono! Muchas gracias</p>
                            <h4 class="font-weight-bold">Gerzan Ricardo</h4>
                            <h6 class="font-weight-bold my-3"> Facultad de Enfermería</h6>

                        </div>
                    </mdb-slide>
                    <!--/Third slide-->
                </mdb-carousel>
                <!--/.Carousel Wrapper-->
            </section>
            <!-- Section: Testimonials v.2 -->
        </app-card>
        <app-card [hidHeader]="true">
            <div class="row align-items-center">
                <div class="col-auto">
                    <i class="icon feather icon-book f-30 text-c-purple"></i>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Encuestas Realizadas</h6>
                    <h2 class="m-b-0">4510</h2>
                </div>
            </div>
        </app-card>
    </div>

</div>

<br>

<div class="col-lg-13" id="chart">
    <app-card cardTitle="PACs entregados por facultades" [options]="false">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend" [colors]="chartOptions.colors"></apx-chart>
    </app-card>
</div>


<div class="row">
    <div class="col-sm-8">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex m-b-10 no-block">
                        <h5 class="card-title m-b-0 align-self-center text-uppercase">Entregas de paquetes alimentarios complementarios</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <ul class="list-inline m-b-30 text-uppercase lp-5 font-medium font-12">

                        <li><i class="flaticon-calendar text-primary f-16"></i></li>
                    </ul>
                </div>
            </div>
            <app-apex-chart chartID="task-dah-statistics" [chartConfig]="this.taskDashStatistics"></app-apex-chart>
        </app-card>
    </div>
    <div class="col-md-6 col-xl-4">
        <div id="pyramid"></div>




    </div>

</div>