<script src="https://d3js.org/d3.v5.js"></script>
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>



<div class="row">
    <div class="col-sm-8">
        <div id="container">

            <svg class="mapsvg"></svg></div>


    </div>
    <div class="col-md-12 col-xl-4">
        <app-card cardTitle="Meta de apoyos" cardClass="invite-card" blockClass="text-center">
            <div class="invite-card-chart">
                <app-apex-chart chartID="solid-gauge-widget-chart" [chartConfig]="this.solidGaugeWidgetChart"></app-apex-chart>
                <div class="invite-card-cont">
                    <i class="fas fa-paper-plane text-c-green"></i>
                    <span class="f-50">391</span>
                    <hr>
                </div>
            </div>
            <h6 class="f-w-600">Casi completados!</h6>
            <p class="text-muted m-b-0">Faltan por enviar xx apoyos</p>
        </app-card>
        <app-card [hidHeader]="true">
            <div class="row align-items-center">
                <div class="col-auto">
                    <i class="icon feather icon-book f-30 text-c-purple"></i>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Formularios llenados</h6>
                    <h2 class="m-b-0">3279</h2>
                </div>
            </div>
        </app-card>
    </div>

</div>



<div class="row">
    <div class="col-sm-8">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex m-b-10 no-block">
                        <h5 class="card-title m-b-0 align-self-center text-uppercase">Estadisticas de paquetes alimentarios en cada fase</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <ul class="list-inline m-b-30 text-uppercase lp-5 font-medium font-12">

                        <li><i class="flaticon-calendar text-primary f-16"></i></li>
                    </ul>
                </div>
            </div>
            <app-apex-chart chartID="task-dah-statistics" [chartConfig]="this.taskDashStatistics"></app-apex-chart>
        </app-card>
    </div>
    <div class="col-md-6 col-xl-4">
        <app-card [hidHeader]="true">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/images/icon/search.png" alt="" title="" width="55">
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Datos #1</h6>
                    <h2 class="m-b-0">379</h2>
                </div>
            </div>
        </app-card>
        <app-card [hidHeader]="true">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/images/icon/inventory.png" alt="" title="" width="55">
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Datos #2</h6>
                    <h2 class="m-b-0">379</h2>
                </div>
            </div>
        </app-card>
        <app-card [hidHeader]="true">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="assets/images/icon/smartphone.png" alt="" title="" width="55">
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Datos #3</h6>
                    <h2 class="m-b-0">379</h2>
                </div>
            </div>
        </app-card>
    </div>

</div>