<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/avatar.png" alt="" title="" width="55"></div>
                <div class="align-slef-center mr-auto">
                    <h2 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">992</h2>
                    <h6 class="text-muted m-b-0">Estudiantes mujeres</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/boy.png" alt="" title="" width="55"></div>
                <div class="align-slef-center mr-auto">
                    <h2 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">1309</h2>
                    <h6 class="text-muted m-b-0">Estudiantes hombres</h6>
                </div>
            </div>
        </app-card>
    </div>


    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/search.png" alt="" title="" width="55"></div>
                <div class="align-slef-center mr-auto">
                    <h2 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">2046</h2>
                    <h6 class="text-muted m-b-0">PACS Entregados</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/money.png" alt="" title="" width="55"></div>
                <div class="align-slef-center mr-auto">
                    <h2 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">0</h2>
                    <h6 class="text-muted m-b-0">Total dinero gastado</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">

    <div class="col-sm-8">
        <div id='map'>
        </div>
    </div>


    <div class="col-md-10 col-xl-4">
        <app-card cardTitle="Mensajes de estudiantes" cardClass="invite-card" blockClass="text-center">
            <!-- Section: Testimonials v.2 -->
            <section class="text-center my-5">
                <!-- Section heading -->
                <!--Carousel Wrapper-->
                <mdb-carousel [isControls]="true" [animation]="'slide'" class="testimonial-carousel">

                    <!--First slide-->
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Lo reclamé, todo muy bien, sólo me queda por decirles muchas gracias, no se imaginan cuánto nos ayudan. </p>

                        </div>
                    </mdb-slide>
                    <!--/First slide-->
                    <!--Second slide-->
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid" alt="Second sample avatar image">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon>Quiero agradecer el esfuerzo que han realizado para hacernos llegar este apoyo.En realidad, esto es de gran ayuda. Muchísimas gracias</p>


                        </div>
                    </mdb-slide>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Queria comunicar que si recibi el paquete alimentario, muy completo, los productos que nos enviaron de buena calidad y adicional a eso las recetas que enviaron me parecieron una opcion ideal, agradezco muchísimo
                                la ayuda que nos brindan a los estudiantes en estos momentos tan dificiles.</p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Les quiero agradecer por está ayuda, ya la estaba necesitando. Traigan un cálido abrazo de mi parte, muchísimas gracias. .
                            </p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> El dia de hoy recibi el Paquete Alimentario Complementario. Estoy muy agradecida con ustedes y la Universidad Nacional de Colombia por este esfuerzo que estan realizan por sus estudiantes. Es y seguira siendo
                                la mejor Universidad de Colombia .
                            </p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Buenas tardes, amablemente quiero informar que ya lo reclamé, el mismo domingo. Quiero agradecer al programa y a la cooperativa porque realmente me pareció fabuloso y muy completo, me sorprendió gratamente ver
                                que era un mercado tan grande que le es de gran ayuda a mi familia en estos momentos dificiles donde somos 4 y solo hay una fuente de ingreso. Agradezco enormemente a ustedes y espero que les sea multiplicado y puedan ayudar
                                muchos estudiantes. .
                            </p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/man.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Gracias a Dios, tuve la oportunidad de reclamar el paquete el pasado sábado, dicho paquete nos ha parecido a mi familia y a mì bastante completo, es ciertamente mas de lo que esperábamos. Aprovecho para agradecer
                                grandemente a ustedes y a la universidad por esta bendición. .
                            </p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Ya recibí el paquete alimentario, me pareció grande, bueno y muy completo; en cuanto a la entrega me pareció muy organizada, rápida y con todas sus medidas de seguridad.Adicional me gustaría agradecer a todas
                                las personas que colaboraron en el proceso de este paquete alimentario. .
                            </p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Muchas gracias por la ayuda no tienen idea lo mucho que me servirá. De verdad muchas gracias  .
                            </p>


                        </div>
                    </mdb-slide>
                    <mdb-slide>
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="../../../../assets/images/woman.png" class="rounded-circle img-fluid">
                            </div>
                            <!--Content-->
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> Quería contarles que sí recibí el paquete alimentario. Además, quiero agradecerles inmensamente por esa gran ayuda. Es la primera vez, desde que estoy en la UNAL, que recibo algo a parte de mi bonita educación
                                y eso me hizo realmente feliz. Estoy muy agradecida con ustedes por su gran labor. Espero puedan extender mi agradecimiento a las personas que hacen parte de esta causa, a todos ellos muchísimas gracias. .
                            </p>


                        </div>
                    </mdb-slide>
                    <!--/Third slide-->
                </mdb-carousel>
                <!--/.Carousel Wrapper-->
            </section>
            <!-- Section: Testimonials v.2 -->
        </app-card>
        <app-card [hidHeader]="true">
            <div class="row align-items-center">
                <div class="col-auto">
                    <i class="icon feather icon-book f-30 text-c-purple"></i>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Encuestas Realizadas</h6>
                    <h2 class="m-b-0">4510</h2>
                </div>
            </div>
        </app-card>
    </div>

</div>



<div class="row">
    <div class="col-sm-8">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex m-b-10 no-block">
                        <h5 class="card-title m-b-0 align-self-center text-uppercase">Estadisticas de paquetes alimentarios en cada fase</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <ul class="list-inline m-b-30 text-uppercase lp-5 font-medium font-12">

                        <li><i class="flaticon-calendar text-primary f-16"></i></li>
                    </ul>
                </div>
            </div>
            <app-apex-chart chartID="task-dah-statistics" [chartConfig]="this.taskDashStatistics"></app-apex-chart>
        </app-card>
    </div>
    <div class="col-md-6 col-xl-4">
        <app-card [hidHeader]="true">
            <div id="pyramid"></div>
        </app-card>



    </div>

</div>